
internal interface Runner_{{name}}: Callback {
    fun invoke(lang_specific_context: Pointer?{% if input_params_and_types != "" %}, {{input_params_and_types}} {% endif %}): {{output_type}}
}

internal class {{name}}_Native: Structure(), Structure.ByValue {
    @JvmField
    internal var data_: Pointer = Pointer(0L);
    @JvmField
    internal var run_callback: Runner_{{name}}
        = object :  Runner_{{name}} {
                override fun invoke(lang_specific_context: Pointer?{% if input_types != "" %}, {{input_params_and_types}} {% endif %}): {{output_type}} {
                    throw Exception("Default callback runner -- should be replaced.")
                }
            }
    @JvmField
    internal var destructor: Pointer = Pointer(0L);

    // Define the fields of the struct
    override fun getFieldOrder(): List<String> {
        return listOf("data_", "run_callback", "destructor")
    }
}

internal class {{name}} internal constructor (
    internal val nativeStruct: {{name}}_Native) {
    val data_: Pointer = nativeStruct.data_
    val run_callback: Callback = nativeStruct.run_callback
    val destructor: Pointer = nativeStruct.destructor

    companion object {
        val NATIVESIZE: Long = Native.getNativeSize({{name}}_Native::class.java).toLong()
        
        fun fromCallback(cb: ({{input_types}})->{{output_type}}): {{name}} {
            val callback: Runner_{{name}} = object :  Runner_{{name}} {
                override fun invoke(lang_specific_context: Pointer?{% if input_types != "" %}, {{input_params_and_types}} {% endif %}): {{output_type}} {
                    return cb({{input_names}});
                }
            }
            val cb_wrap = {{name}}_Native()
            cb_wrap.run_callback = callback;
            return {{name}}(cb_wrap)
        }
    }
}