
{%- if !docs.is_empty() %}
/** {{docs}}
*/
{%- endif %}
{% if add_override_specifier_for_opaque_self_methods %}override {% endif -%}
{{ declaration }} {
{%- for slice_conv in slice_conversions %}{{slice_conv|indent(4)}}{% endfor %}
    {% if write_return %}val write = DW.lib.diplomat_buffer_write_create(0){% endif %}
    val returnVal = lib.{{ native_method_name -}}(
        {%- for param in param_conversions %}
        {%- if loop.first %}{% else %}, {% endif -%}
        {{ param }}
        {%- endfor -%}
    );
    {{return_expression|indent(4)}}
}
