package {{domain}}.{{lib_name}};
import com.sun.jna.Callback
import com.sun.jna.Library
import com.sun.jna.Native
import com.sun.jna.Pointer
import com.sun.jna.Structure

internal interface {{type_name}}Lib: Library {
    fun {{dtor_abi_name}}(handle: Pointer)

    {%- for m in native_methods %}
    {{m.declaration}}
    {%- endfor %}
}

{%- if generate_mocking_interface %}
internal interface {{type_name}}Interface {

    {%- for m in self_methods %}
    {{m.declaration}}
    {%- endfor %}
}
{%- endif %}

{%- if !callback_params.is_empty() -%}
    {%- for callback_param in callback_params -%}
        {{callback_param}}
    {%- endfor %}
{% endif -%}
{%- match special_methods.iterator_type -%}
{%- when Some with (iter_ty) %}
typealias {{type_name}}IteratorItem = {{iter_ty}}
{%- when None %}
{%- endmatch %}
{% if !docs.is_empty() -%}
/** {{docs}}
*/
{%- endif %}
class {{type_name}} internal constructor (
    internal val handle: Pointer,
    // These ensure that anything that is borrowed is kept alive and not cleaned
    // up by the garbage collector.
    internal val selfEdges: List<Any>,
    {%- if !lifetimes.is_empty() %}
    {%- for lt in lifetimes %}
    internal val {{lt}}Edges: List<Any?>,
    {%- endfor %}
    {%- endif %}
    {%- if use_finalizers_not_cleaners %}
    internal var finalizer_registered: Boolean = false,
    {%- endif %}
{%- if generate_mocking_interface %}
): {{type_name}}Interface {%- if is_custom_error %}: Exception("Rust error result for {{type_name}}") {%- endif %}
{%- else %}
){%- if is_custom_error %}: Exception("Rust error result for {{type_name}}") {%- endif %}
{%- endif %}
{%- if special_methods.interfaces.is_empty() %} {% else %}{%- if is_custom_error %},{% else %}:{% endif %} {% for interface in special_methods.interfaces %}
{%- if loop.first %}{% else %}, {% endif %}{{interface}}
{%- endfor %}
{%- endif %} {

    {%- if !use_finalizers_not_cleaners %}

    internal class {{type_name}}Cleaner(val handle: Pointer, val lib: {{type_name}}Lib) : Runnable {
        override fun run() {
            lib.{{dtor_abi_name}}(handle)
        }
    }
    {%- else %}
    fun registerFinalizer() {
        this.finalizer_registered = true
    }

    @Override
    @SuppressWarnings("Finalize")
    fun finalize() {
        if (finalizer_registered)
            lib.{{dtor_abi_name}}(handle)
    }
    {%- endif %}

    companion object {
        internal val libClass: Class<{{type_name}}Lib> = {{type_name}}Lib::class.java
        internal val lib: {{type_name}}Lib = Native.load("{{dylib_name}}", libClass)

{%- for m in companion_methods %}
        @JvmStatic
        {{m.definition|indent(8)}}
{%- endfor %}
    }

{%- for m in self_methods %}
    {{m.definition|indent(4)}}
{%- endfor %}

{%- match special_methods.iterator_type -%}
{%- when Some with (iter_ty) %}

    var iterVal = nextInternal()

    override fun hasNext(): Boolean {
       return iterVal != null
    }

    override fun next(): {{iter_ty}}{
        val returnVal = iterVal
        if (returnVal == null) {
            throw NoSuchElementException()
        } else {
            iterVal = nextInternal()
            return returnVal
        }
    }
{%- when None %}
{%- endmatch %}
{%- match special_methods.indexer_type -%}
{%- when Some with (index_ty) %}

    operator fun get(index: {{index_ty.index_type}}): {{index_ty.item_type}} {
        val returnVal = getInternal(index)
        if (returnVal == null) {
            throw IndexOutOfBoundsException("Index $index is out of bounds.")
        } else {
            return returnVal
        }
    }
{%- when None %}
{%- endmatch %}

}
