internal class Option{{ffi_type_name}} constructor(): Structure(), Structure.ByValue {
    {%- match ffi_default %}
    {%- when Some with (default_value)%}
    @JvmField
    internal var value: {{ffi_type_name}} = {{default_value}}

    {% when None -%}
    {%- endmatch -%}
    @JvmField
    internal var isOk: Byte = 0

    // Define the fields of the struct
    override fun getFieldOrder(): List<String> {
        return listOf("value", "isOk")
    }

    internal fun option(): {{ffi_type_name}}? {
        if (isOk == 1.toByte()) {
            {%- match ffi_default %}
            {%- when Some with (_) %}
            return value
            {%- when None %}
            return Unit
            {%- endmatch %}
        } else {
            return null
        }
    }

{% if let Some(default_value) = ffi_default %}
    constructor(value: {{ffi_type_name}}, isOk: Byte): this() {
        this.value = value
        this.isOk = isOk
    }

    companion object {
        internal fun some(value: {{ffi_type_name}}): Option{{ffi_type_name}} {
            return Option{{ffi_type_name}}(value, 1)
        }

        internal fun none(): Option{{ffi_type_name}} {
            return Option{{ffi_type_name}}({{default_value}}, 0)
        }
    }
{% endif %}
}
