
    {{ m.declaration }} {
        {% if m.writeable_return %}
        val writeable = DW.lib.diplomat_buffer_writeable_create(0)
        {% endif %}
        val returnVal = lib.{{ m.native_method_name -}}(
            {%- for param in m.param_conversions %}
            {%- if loop.first %}{% else %}, {% endif -%}
            {{ param }}
            {%- endfor -%}
        );
        {%- match m.return_expression %}
        {%- when Some with (statement) %}
        {{statement|indent(4)}}
        {%- when None %}
        {%- endmatch %}
    }

