PrimitiveArrayTools.{{slice_method}}({{kt_param_name}})
{%- if let Some(borrowed_lts) = borrowed_lts -%}
    .into(listOf({% for lt in borrowed_lts %}{{ lifetimes.fmt_lifetime(*lt) }}Edges{% if !loop.last %}, {% endif %}{% endfor %}))
{%- endif -%}
