val returnStruct = {{return_type_name}}.fromNative({{val_name}}{% if !named_lifetimes.is_empty() %}{%- for lt in named_lifetimes %}, {{lt}}Edges{%- endfor %}{% endif -%})
{%- for cleanup in cleanups %}
{{cleanup|indent(4)}}
{%- endfor %}
return returnStruct{{return_type_modifier}}
