package {{domain}}.{{lib_name}}

import com.sun.jna.Callback
import com.sun.jna.Library
import com.sun.jna.Native
import com.sun.jna.Pointer
import com.sun.jna.Structure

{% if !fields.is_empty() -%}
internal interface {{type_name}}Lib: Library {

    {%- for m in native_methods %}
    {{m.declaration}}
    {%- endfor %}
}

internal class {{type_name}}Native: Structure(), Structure.ByValue {
    {%- for field in fields %}
    {% if !field.docs.is_empty() -%}
    /** {{field.docs}}
    */
    {% endif -%}
    @JvmField
    internal var {{field.name}}: {{field.ffi_cast_type_name}} = {{field.ffi_type_default}};
    {%- endfor %}

    // Define the fields of the struct
    override fun getFieldOrder(): List<String> {
        return listOf({% for field in fields %}{% if loop.first %}{% else %}, {% endif %}"{{field.name}}"{% endfor %})
    }
}

{% endif -%}

{% if !callback_params.is_empty() -%}
    {%- for callback_param in callback_params -%}
        {{callback_param}}
    {%- endfor %}
{% endif -%}

{% if !docs.is_empty() -%}
/** {{docs}}
*/
{% endif -%}
class {{type_name}} internal constructor (
    {% if !fields.is_empty() -%}
    internal val nativeStruct: {{type_name}}Native{% if !lifetimes.is_empty() %},{% endif %}{% endif -%}
    {% if !lifetimes.is_empty() %}
    {%- for lt in lifetimes %}
    internal val {{lt}}Edges: List<Any?>{% if !loop.last%},{% endif %}
    {%- endfor %}
    {% endif -%}
    ){%- if is_custom_error %}: Exception("Rust error result for {{type_name}}") {%- endif %} {

    {%- for field in fields %}
    val {{field.name}}: {{field.field_type}} = {{field.native_to_kt}}
    {%- endfor %}

    {% if !fields.is_empty() -%}
    companion object {
        internal val libClass: Class<{{type_name}}Lib> = {{type_name}}Lib::class.java
        internal val lib: {{type_name}}Lib = Native.load("{{lib_name}}", libClass)
        val NATIVESIZE: Long = Native.getNativeSize({{type_name}}Native::class.java).toLong()

{%- for m in companion_methods %}
        @JvmStatic
        {{m.definition|indent(8)}}
{%- endfor %}
    }

{%- for m in self_methods %}
    {{m.definition|indent(4)}}
{%- endfor %}

{% endif -%}
}

