val returnStruct = {{return_type_name}}.fromNative({{val_name}}{% if !named_lifetimes.is_empty() %}{%- for lt in named_lifetimes %}, {{lt}}Edges{%- endfor %}{% endif -%})
return returnStruct{{return_type_modifier}}
