val returnStruct = {{return_type_name}}.fromNative({{val_name}}{% if !borrows.is_empty() %}{%- for borrow in borrows %}, {{borrow.lt}}Edges{%- endfor %}{% endif -%})
{%- for cleanup in cleanups %}
{{cleanup|indent(4)}}
{%- endfor %}
return returnStruct{{return_type_modifier}}
