//! Generated enums and value structs, one module per type.

{% for module in modules %}mod {{ module }};
{% endfor %}{% if has_modules %}
{% endif %}{% for module in modules %}pub use {{ module }}::*;
{% endfor %}
