#ifndef {{ header_guard }}
#define {{ header_guard }}

{%~ match decl_include %}
	{% when Some with (include) ~%}
		#include "{{ include }}"
	{%~ when None %}
{%- endmatch ~%}

#include <stdio.h>
#include <stdint.h>
#include <stddef.h>
#include <stdbool.h>
#include <memory>
#include <functional>
#include <optional>
{%- for include in includes %}
#include "{{ include }}"
{%- endfor %}

{%~ if forwards.len() > 0 %}
{%- for namespace_forward in forwards %}
{%- if let Some(ns) = namespace_forward.0 %}
namespace {{ns}} {
{%- endif-%}
{%- for forward in namespace_forward.1 %}
{%- match forward %}
	{%- when Forward::Class with (name) ~%}
		namespace {% if namespace_forward.0.is_none() -%} diplomat:: {%- endif -%} capi { struct {{name}}; }
class {{ name }};
	{%- when Forward::Struct with (name) ~%}
		struct {{ name }};
	{%- when Forward::EnumStruct with (name) ~%}
		class {{ name }};
{%- endmatch %}
{%- endfor %}
{%- if namespace_forward.0.is_some() %}
}
{%-endif %}
{%- endfor %}
{% endif %}

{{ body }}
#endif // {{ header_guard }}
