{% include "c_include.h.jinja" %}

{% if let Some(ns) = namespace -%}
namespace {{fmt.lib_name_ns_prefix}}{{ns}} {
{% else if let Some(lib_name) = &fmt.lib_name -%}
namespace {{lib_name}} {
{% endif -%}

{% if !extra_def_code.pre.is_empty() %}
{{ extra_def_code.pre }}
{% endif -%}

{% if !docs.is_empty() -%}
/**
{{~ docs|prefix_trimmed(" * ")}}
 */
{% endif -%}
class {% if let Some(deprecated) = deprecated %}[[deprecated("{{ deprecated }}")]] {% endif -%} {{type_name_unnamespaced}} {
public:
    enum Value {
        {%- for enum_variant in ty.variants %}
        {% if !enum_variant.docs.is_empty() || enum_variant.attrs.deprecated.is_some() -%}
        /**
        {{~ fmt.fmt_docs(enum_variant.docs, enum_variant.attrs)|prefix_trimmed("         * ")}}
         */
        {% endif -%}
        {{fmt.fmt_enum_variant(enum_variant)}} {% if let Some(deprecated) = enum_variant.attrs.deprecated %}[[deprecated("{{ deprecated }}")]] {% endif -%} = {{ enum_variant.discriminant }},
        {%- endfor %}
    };

    {{type_name_unnamespaced}}(): value(Value::{{default_variant}}) {}

    // Implicit conversions between enum and ::Value
    constexpr {{type_name_unnamespaced}}(Value v) : value(v) {}
    constexpr operator Value() const { return value; }
    // Prevent usage as boolean value
    explicit operator bool() const = delete;
    {%~ for m in methods -%}
    {%- include "function_defs/method_decl.h.jinja" %}
    {%~ endfor %}
    inline {{ctype}} AsFFI() const;
    inline static {{type_name}} FromFFI({{ctype}} c_enum);
private:
    Value value;
{% if !extra_def_code.inner.is_empty() %}
{{ extra_def_code.inner }}
{% endif -%}
};

{% if !extra_def_code.post.is_empty() %}
{{ extra_def_code.post }}
{% endif -%}

{% if namespace.is_some() || fmt.lib_name.is_some() -%}
} // namespace
{%-endif%}
