{% include "c_include.h.jinja" %}

{% if let Some(ns) = namespace -%}
namespace {{ns}} {
{% endif %}

{% for m in methods %}
    {% if !m.docs.is_empty() -%}
	/**
	{{~ m.docs|prefix_trimmed("	 * ")}}
	 */
	{% endif -%}
{% endfor %}

{% if namespace.is_some() -%}
} // namespace
{%-endif%}