{% include "c_include.h.jinja" %}

{% if !extra_impl_code.pre.is_empty() -%}
{{ extra_impl_code.pre }}
{% endif -%}

{% for m in methods -%}
{% include "function_defs/method_impl.h.jinja" %}

{% endfor -%}

{#+ -#}

{%- if !extra_impl_code.inner.is_empty() -%}
{{ extra_impl_code.inner }}
{% endif -%}
