{% let const_ptr = fmt.fmt_c_ptr(type_name, Mutability::Immutable) -%}
{% let mut_ptr = fmt.fmt_c_ptr(type_name, Mutability::Mutable) -%}
{% let const_cptr = fmt.fmt_c_ptr(ctype, Mutability::Immutable) -%}
{% let mut_cptr = fmt.fmt_c_ptr(ctype, Mutability::Mutable) -%}
{% let const_ref = fmt.fmt_borrowed(type_name, Mutability::Immutable) -%}
{% let move_ref = fmt.fmt_move_ref(type_name) -%}

{% include "c_include.h.jinja" %}

{% if let Some(ns) = namespace -%}
namespace {{fmt.lib_name_ns_prefix}}{{ns}} {
{% else if let Some(lib_name) = &fmt.lib_name -%}
namespace {{lib_name}} {
{% endif -%}
{% if !docs.is_empty() -%}
/**
 {{~ docs|prefix_trimmed(" * ")}}
 */
{% endif -%}
class {% if let Some(deprecated) = deprecated %}[[deprecated("{{ deprecated }}")]] {% endif -%} {{type_name_unnamespaced}} {
public:
{% for m in methods -%}
    {% include "function_defs/method_decl.h.jinja" %}
{% endfor %}
    inline {{const_cptr}} AsFFI() const;
    inline {{mut_cptr}} AsFFI();
    inline static {{const_ptr}} FromFFI({{const_cptr}} ptr);
    inline static {{mut_ptr}} FromFFI({{mut_cptr}} ptr);
    inline static void operator delete(void* ptr);
private:
    {{type_name_unnamespaced}}() = delete;
    {{type_name_unnamespaced}}({{const_ref}}) = delete;
    {{type_name_unnamespaced}}({{move_ref}}) noexcept = delete;
    {{type_name_unnamespaced}} operator=({{const_ref}}) = delete;
    {{type_name_unnamespaced}} operator=({{move_ref}}) noexcept = delete;
    static void operator delete[](void*, size_t) = delete;
{% if !def_block.is_empty() %}
{{ def_block }}
{% endif -%}
};

{% if namespace.is_some() || fmt.lib_name.is_some() -%}
} // namespace
{%-endif%}
