{% include "c_include.h.jinja" %}

{% for m in methods -%}
{%- include "function_defs/method_impl.h.jinja" %}

{% endfor ~%}

{%- if !cpp_to_c_fields.is_empty() %}
inline {{ctype}} {{type_name}}::AsFFI() const {
    return {{ctype}} {
{%- for field in cpp_to_c_fields %}
        /* .{{field.var_name}} = */ {{field.expression}},
{%- endfor %}
    };
}

inline {{type_name}} {{type_name}}::FromFFI({{ctype}} c_struct) {
    return {{type_name}} {
{%- for field in c_to_cpp_fields %}
        /* .{{field.var_name}} = */ {{field.expression}},
{%- endfor %}
    };
}
{%- endif %}


