// https://github.com/dart-lang/sdk/issues/53946
// ignore_for_file: non_native_function_type_argument_to_pointer

{% for import in imports -%}
import '{{import.path}}'{{import.suffix}};
{% endfor %}
{{ body }}

{% for helper_class in helper_classes.values() -%}

{{helper_class}}

{% endfor %}
