{% if !docs.is_empty() -%}
{{ docs|prefix_trimmed("/// ")}}
{% endif -%}
{% if let Some(deprecated) = ty.attrs.deprecated -%}
@core.Deprecated('{{ deprecated }}')
{% endif -%}
enum {{type_name}}
   {%- if let Some(it) = special.iterable %} with core.Iterable<{{it}}> {%- endif %}
   {%- if special.comparator -%} implements core.Comparable<{{type_name}}> {%- endif %} {
{%~ for enum_variant in ty.variants %}
  {%- if !enum_variant.docs.is_empty() %}
  {{- fmt.fmt_docs(enum_variant.docs)|prefix_trimmed("  /// ") }}
  {%- else -%}
  {{- "ignore: public_member_api_docs"|prefix_trimmed("  // ") }}
  {%- endif %}
  {%- if let Some(deprecated) = enum_variant.attrs.deprecated %}
  @core.Deprecated('{{ deprecated }}')
  {%- endif %}
  {{fmt.fmt_enum_variant(enum_variant)}}{% if loop.last %};{% else %},
{% endif %}
{%- endfor %}
  {%- if !is_contiguous %}

  int get _ffi {
    switch (this) {
      {%- for enum_variant in ty.variants %}
      case {{fmt.fmt_enum_variant(enum_variant)}}:
        return {{ enum_variant.discriminant }};
      {%- endfor %}
    }
  }
  {%- endif %}

  {%~ for m in methods %}
  {%- include "method.dart.jinja" %}
  {%- endfor %}

  {%- if special.comparator %}

  @override
  bool operator ==(Object other) => other is {{type_name}} && compareTo(other) == 0;
  @override
  int get hashCode => 42; // Cannot get hash from Rust, so a constant is the only correct impl
  {%- endif %}
}

{%- for m in methods %}

{% include "native_method.dart.jinja" %}
{%- endfor %}
