final class {{slice_ty}} extends ffi.Struct {
  external ffi.Pointer<{{ffi_type}}> _pointer;

  @ffi.Size()
  external int _length;

  // This is expensive
  @override
  bool operator ==(Object other) {
    if (other is! {{slice_ty}} || other._length != _length) {
      return false;
    }

    for (var i = 0; i < _length; i++) {
      if (other._pointer[i] != _pointer[i]) {
        return false;
      }
    }
    return true;
  }

  // This is cheap
  @override
  int get hashCode => _length.hashCode;
}
