final class {{slice_ty}} extends ffi.Struct {
  external ffi.Pointer<{{ffi_element_type}}> _data;

  @ffi.Size()
  external int _length;

  // This is expensive
  @override
  bool operator ==(Object other) {
    if (other is! {{slice_ty}} || other._length != _length) {
      return false;
    }

    for (var i = 0; i < _length; i++) {
      if (other._data[i] != _data[i]) {
        return false;
      }
    }
    return true;
  }

  // This is cheap
  @override
  int get hashCode => _length.hashCode;

  // ignore: unused_element
  {{dart_ty}} _toDart(core.List<Object> lifetimeEdges, {bool isStatic = false}) {
    final r = {{ to_dart }};
    if (lifetimeEdges.isEmpty && !isStatic) {
      {{ owned_free }}
    } else {
      {{ borrowed_free }}
    }
    return r;
  }
}

extension on {{ dart_ty }} {
  // ignore: unused_element
  {{slice_ty}} {{alloc_in_ident}}(ffi.Allocator alloc) {
    final slice = ffi.Struct.create<{{slice_ty}}>();
    {% for from_dart in from_dart -%}
    {{ from_dart }}
    {% endfor -%}
    return slice;
  }
}
