final class _{{type_name}}Ffi extends ffi.Struct {
  {%- for field in fields %}
  {%- match field.annotation %}
  {%- when Some with (annotation) %}
  @{{annotation}}()
  {%- when None %}
  {%- endmatch %}
  external {{field.ffi_cast_type_name}} {{field.name}};
  {%- endfor %}
}

{% if !docs.is_empty() -%}
/// {{docs}}
{% endif -%}
final class {{type_name}} {

  {%- for field in fields %}
  {% if !mutable -%} final {% endif -%} {{field.dart_type_name}} {{field.name}};
  {%- endfor %}

  {%- for lifetime in lifetimes %}
  // ignore: unused_field
  final core.List<Object> _edge{{lifetime}};
  {%- endfor %}

  {%- match default_constructor %}
  {%- when Some with (c) %}

  {{c}}
  {%- when None %}
  {%- endmatch %}

  // Internal constructor from FFI.
  {%- if lifetimes.len() != 0 %}
  // This struct contains borrowed fields, so this takes in a list of
  // "edges" corresponding to where each lifetime's data may have been borrowed from
  // and passes it down to individual fields containing the borrow.
  // This method does not attempt to handle any dependencies between lifetimes, the caller
  // should handle this when constructing edge arrays.
  {%- endif %}
  // ignore: unused_element
  {{type_name}}._(_{{type_name}}Ffi underlying {%- if !lifetimes.is_empty() %}, { {%- for lifetime in lifetimes -%}required core.List<Object> edge{{lifetime}}{% if !loop.last %}, {% endif %}{%- endfor -%}}{% endif %}) : 
    {%- for lifetime in lifetimes %}
    _edge{{lifetime}} = edge{{lifetime}},
    {%- endfor -%}
    {%- for field in fields %}
    {{field.name}} = {{field.c_to_dart}}
    {%- if loop.last %};{% else %},{% endif -%}
    {%- endfor %}

  // ignore: unused_element
  _{{type_name}}Ffi _pointer(ffi.Allocator temp) {
    final struct = ffi.Struct.create<_{{type_name}}Ffi>();
    {%- for field in fields %}
    {%- for statement in field.dart_to_c %}
    {{statement}}
    {%- endfor %}
    {%- endfor %}
    return struct;
  }

  {%- for m in methods %}
{% include "method.dart.jinja" %}
  {%- endfor %}

  @override
  bool operator ==(Object other) =>
      other is {{type_name}}
      {%- for field in fields %} &&
      other.{{field.name}} == this.{{field.name}}
      {%- endfor %};

  @override
  int get hashCode => Object.hashAll([
      {%- for field in fields %}
        this.{{field.name}},
      {%- endfor %}
      ]);
}

{%- for m in methods %}

{% include "native_method.dart.jinja" %}
{%- endfor %}
