using System;

namespace {{ namespace }};

public class {{ exception_name }} : Exception
{
    public {{ error }} Inner { get; }
    private readonly object[] _edges;

    public {{ exception_name }}({{ error }} inner, params object[] edges) : base(
        {%- if error.is_opaque() %}
        {%- if let Some(method) = message_method %}
        inner.{{ method }}()
        {%- else %}
        $"{{ error }}: {inner}"
        {%- endif %}
        {%- else %}
        $"{{ error }}: {inner}"
        {%- endif %}
    )
    {
        Inner = inner;
        _edges = edges;
    }
}
