{#- Raw [DllImport] layer for opaque types. -#}
using System;
using System.Runtime.InteropServices;
using {{ namespace }};
using {{ namespace }}.Diplomat;

namespace {{ namespace }}.Raw;

[StructLayout(LayoutKind.Sequential)]
public partial struct {{ name }}
{
#if __IOS__
    private const string NativeLib = "lib{{ dylib_name }}.framework/lib{{ dylib_name }}";
#else
    private const string NativeLib = "{{ dylib_name }}";
#endif

    {%- for method in methods %}

    {% include "dotnet/raw_extern.cs.jinja" %}
    {%- endfor %}

    [DllImport(NativeLib, EntryPoint = "{{ dtor_abi_name }}", CallingConvention = CallingConvention.Cdecl)]
    public static unsafe extern void Destroy({{ name }}* handle);
}
