using System;
using System.Runtime.InteropServices;

namespace {{ namespace }}.Raw;

using {{ namespace }};

[StructLayout(LayoutKind.Sequential)]
public partial struct {{ option_struct_name }}
{
    [StructLayout(LayoutKind.Explicit)]
    private struct InnerUnion
    {
        {%- if inner.is_bool() %}
        [MarshalAs(UnmanagedType.U1)]
        {%- endif %}
        [FieldOffset(0)] internal {{ inner.raw() }} value;
    }

    private InnerUnion _inner;

    [MarshalAs(UnmanagedType.U1)]
    public bool IsSome;

    public {{ inner.raw() }} Value => IsSome ? _inner.value : throw new InvalidOperationException("Option is None");
}
