{%- let docs = property.docs() %}
{%- include "dotnet/member_docs.cs.jinja" %}
    public {{ property.property_type }} {{ property.name }}
    {
        {%- if let Some(method) = property.getter %}
{%- let extra_indent = "    " %}
        get
        {
            unsafe
            {
{%- if is_opaque && method.is_instance() %}
                if (_inner.IsNull)
                {
                    throw new ObjectDisposedException("{{ name }}");
                }
{%- endif %}
{%- include "dotnet/method_body.cs.jinja" %}
            }
        }
        {%- endif %}
        {%- if let Some(method) = property.setter %}
{%- let extra_indent = "    " %}
        set
        {
            unsafe
            {
{%- if is_opaque && method.is_instance() %}
                if (_inner.IsNull)
                {
                    throw new ObjectDisposedException("{{ name }}");
                }
{%- endif %}
{%- include "dotnet/method_body.cs.jinja" %}
            }
        }
        {%- endif %}
    }
