example/c/include/** linguist-generated=true
example/cpp/include/** linguist-generated=true
example/dart/lib/** linguist-generated=true
example/demo_gen/demo/** linguist-generated=true
example/dotnet/Generated/** linguist-generated=true
example/js/lib/api/** linguist-generated=true
example/kotlin/somelib/** linguist-generated=true
example/nanobind/src/** linguist-generated=true

feature_tests/c/include/** linguist-generated=true
feature_tests/cpp/include/** linguist-generated=true
feature_tests/dart/lib/** linguist-generated=true
feature_tests/demo_gen/demo/** linguist-generated=true
feature_tests/dotnet/Generated/** linguist-generated=true
feature_tests/js/api/** linguist-generated=true
feature_tests/kotlin/somelib/** linguist-generated=true
feature_tests/nanobind/src/** linguist-generated=true