inline {{ctype}} {{type_name}}::AsFFI() const {
	switch (value) {
{%- for enum_variant in ty.variants %}
		case {{fmt.fmt_enum_variant(enum_variant)}}:
			return {{fmt.fmt_c_enum_variant(ctype, enum_variant)}};
{%- endfor %}
		default:
			abort();
	}
}

inline {{type_name}} {{type_name}}::FromFFI({{ctype}} c_enum) {
		switch (c_enum) {
{%- for enum_variant in ty.variants %}
		case {{fmt.fmt_c_enum_variant(ctype, enum_variant)}}:
			return {{type_name}}::Value::{{fmt.fmt_enum_variant(enum_variant)}};
{%- endfor %}
		default:
			abort();
	}
}

{%- for m in methods %}

{% include "method_impl.h.jinja" %}
{%- endfor %}