{% if typescript %}
export { FFIError, i8, u8, i16, u16, i32, u32, i64, u64, f32, f64, char } from './diplomat-runtime';
{% else %}
export { FFIError } from './diplomat-runtime.mjs';
{% endif %}
{% for export_stmt in exports %}
{{export_stmt}}
{% endfor %}