{%- if let Some(it) = iterator %}
next() {% if typescript %}: IteratorResult<{{it}}>;{% else %}{
    const out = this.#iteratorNext();

    return {
        value: out,
        done: out === null,
    };
}{% endif -%}
{% endif -%}