{% if !doc_str.is_empty() %}
/** {{doc_str}}
*/
{% endif -%}
{%- let overrides_constructor = methods.special_methods.constructor.is_some() -%}

{% block header_info %}{% endblock %}

export class {{type_name}} {
	{% block class_body %}{% endblock %}

	{%- for method in methods.methods -%}

	{#- Do not include the method in typescript if it is meant to be private: -#}
	{%- if !method.method_decl.starts_with('#') || !typescript %}
	
    {{ method|indent(4) }}
	{%- endif -%}
{%- endfor ~%}
    {{~ methods.special_methods|indent(4) -}}
}