{{method_decl}}(
{%- for param in parameters -%}
    {{- param.name -}}
    {%- if typescript %}: {{ param.ty -}}{%- endif -%}
    {%- if !loop.last -%}, {% endif -%}
{%- endfor -%}
) {%- if typescript %}{{ return_type }};{% else %} {
    {%- if needs_cleanup %}
    let functionCleanupArena = new diplomatRuntime.CleanupArena();
    {% endif -%}
    {%- if needs_slice_collection %}
    let functionGarbageCollectorGrip = new diplomatRuntime.GarbageCollectorGrip();
    {%- endif -%}

    {%- for slice in slice_params %}
    const {{slice.name}}Slice = {{slice.slice_expr}};
    {%- endfor %}

    {%- for alloc_stmt in alloc_expressions %}
    {{~ alloc_stmt|indent_trimmed(4)}}
    {% endfor -%}

    {%- let lifetimes = lifetimes.unwrap() -%}
    {%- for lifetime in lifetimes.all_lifetimes() -%}
    {%- let maybe_lifetime_info = method_lifetimes_map.get(lifetime) -%}
    {%- if maybe_lifetime_info.is_some() -%}
    {%- let lifetime_info = maybe_lifetime_info.unwrap() %}
    // This lifetime edge depends on lifetimes {#+ -#}
    {%- for longer in lifetime_info.all_longer_lifetimes.iter().copied() -%}
    {%- if !loop.first -%}, {% endif %}'{{lifetimes.fmt_lifetime(longer)}}
    {%- endfor %}
    let {{lifetimes.fmt_lifetime(lifetime)}}Edges = [
        {%- for incoming_edge in lifetime_info.incoming_edges.iter() %}
        {%- if !loop.first %}, {% endif -%} {{self::display_lifetime_edge(incoming_edge)}}
        {%- endfor -%}
    ];
    {%~ endif %}
    {%- endfor %}

    {%~ if !method_output_is_ffi_unit %}
    const result = {% endif %}wasm.{{ abi_name }}(
        {%- for param in param_conversions -%}
        {%- if !loop.first %}, {% endif -%}
        {{ param }}
        {%- endfor -%}
    );

    try {
    {%- match return_expression -%}
    {%- when Some with (statement) %}
        {{~ statement|indent_trimmed(8) }}
    {% when None -%}
    {%- endmatch -%}
    }

    finally {
    {%- if needs_cleanup %}
        functionCleanupArena.free();
    {%~ endif %}
    {%- if needs_slice_collection %}
        functionGarbageCollectorGrip.releaseToGarbageCollector();
    {%~ endif %}
    {%- for cleanup in cleanup_expressions %}
        {{~ cleanup|indent_trimmed(8)}}
    {%- endfor %}
    }
}
{%- endif -%}