#include "diplomat_nanobind_common.hpp"

{% for include in includes %}
#include "{{include}}"
{%- endfor %}

{%- for line in binding_prefix.lines() %}
{{ line }}
{%- endfor %}

{% if !namespace.is_empty() %}
namespace {{namespace}}{
{% endif %}
void add_{{unqualified_type}}_binding(nb::handle mod) {
    {%- for line in body.lines() %}
    {{ line }}
	{%- endfor %}
}

{% if !namespace.is_empty() %}
}
{% endif %}
