#include "diplomat_nanobind_common.hpp"

{% for include in includes %}
#include "{{include}}"
{%- endfor %}

{%- for line in binding_prefix.lines() %}
{{ line }}
{%- endfor %}

namespace {{lib_name}}{%- if !namespace.is_empty() -%} ::{{namespace}} {%- endif %} {
void add_{{unqualified_type}}_binding(nb::module_ mod) {
    {%- for line in body.lines() %}
    {{ line }}
    {%- endfor %}
}

} 
