{% include "module_impl.cpp.jinja" %}
{
	nb::class_<{{type_name}}> e_class({{module}}_mod, "{{type_name_unnamespaced}}");

	nb::enum_<{{type_name}}::Value>(e_class, "Value")
		{%- for value in values %}
		.value("{{value}}", {{type_name}}::{{value}})
		{%- endfor %}
		.export_values();

	e_class
		.def(nb::init_implicit<{{type_name}}::Value>())
		.def(nb::self == {{type_name}}::Value())
		.def("__repr__", [](const {{type_name}}& self){
			return nb::cast("{{type_name}}.") + nb::cast({{type_name}}::Value(self)).attr("__repr__")();
		});
}

