{% macro method_name_cpp() -%}{%- block cpp_method_name -%}{%- endblock -%}{%- endmacro -%}
{% import "method_params.cpp.jinja" as method_params %}
    .{{m.def}}
{%- if let Some(special_method) = m.method.attrs.special_method.as_ref() -%}
{%- block special_methods -%}{%- endblock -%}
{%- else -%}
("{{m.method_name}}", {% if m.overloads.len() > 0 -%}
nb::overload_cast<{% for p in m.param_decls.params -%} {{- p.type_name -}} {%- if !loop.last -%}, {% endif %} {%- endfor
    -%}>(
    {%- endif -%}
    &{{- method_name_cpp() -}}
    {%- if m.overloads.len() > 0 -%} ) {%- endif -%}
    {{- method_params::params(m.method.params, m.lifetime_args) -}})
    {%- endif -%}

    {%- if m.overloads.len() > 0 %}
    {%- for o in m.overloads %}
    .{{m.def}}("{{m.method_name}}", nb::overload_cast<{% for p in o.params -%} {{- p.type_name -}} {%- if !loop.last
        -%}, {% endif %} {%- endfor -%}>(&{{- method_name_cpp() -}})
        {{- method_params::params(o.params, m.lifetime_args) -}})
        {%- endfor -%}

        {%- endif -%}