{% macro params(p, lifetime_args) %}
{%- for param in &p -%}
    , "{{param.name}}"_a
    {%- match param.ty -%}
    {%- when Type::DiplomatOption(_) -%}
        = nb::none()
    {%- when Type::Opaque(t) -%}
    {%- if t.is_optional() -%}
        = nb::none()
    {%- endif -%}
    {%- else -%}
    {%- endmatch -%}
{%- endfor -%}
{%- if let Some(lifetime_args) = lifetime_args -%} 
    , {{lifetime_args}}
{%- endif -%}
{% endmacro %}