{%- for param in m.method.params -%}
	, "{{param.name}}"_a
	{%- match param.ty -%}
	{%- when Type::DiplomatOption(_) -%}
		= nb::none()
	{%- when Type::Opaque(t) -%}
	{%- if t.is_optional() -%}
		= nb::none()
	{%- endif -%}
	{%- else -%}
	{%- endmatch -%}
{%- endfor -%}