{%- let is_self_opaque = true -%}
{%- let full_name = type_name.replace("::", "_") -%}

PyType_Slot {{full_name}}_slots[] = {
    {Py_tp_free, (void *){{type_name}}::operator delete },
    {Py_tp_dealloc, (void *)diplomat_tp_dealloc},
    {0, nullptr}};

nb::class_<{{type_name}}> opaque(mod, "{{type_name_unnamespaced}}", nb::type_slots({{full_name}}_slots));
{% if methods.len() > 0 %}opaque{% endif %}
{%- for m in methods %}
{% include "method_impl.cpp.jinja" %}
{%- endfor -%};