let {{variable_name}} = {% if let Some(s) = self_param -%} {{s}}. {%- endif -%} {{ method_js }} {%- if !is_getter -%} (
    {%- for param in params -%}
    {{ param }}{% if !loop.last %},{% endif -%}
    {%- endfor -%}
) {%- endif %}