export function {{function_name}}(
    {%- for param in out_params -%}
    {{param.param_name}}{% if typescript %}: {{param.type_name}}{% endif %}{% if !loop.last %}, {% endif %}
    {%- endfor -%}
){% if typescript %};{% else %} {
    return {{node_call_stack|indent(4)}};
}
{%- endif %}