export function {{function_name}}(
    {%- for param in out_params -%}
    {{param.param_name}}{% if typescript %}: {{param.type_name}}{% endif %}{% if !loop.last %}, {% endif %}
    {%- endfor -%}
){% if typescript %};{% else %} {
    {% for method in node_call_stack %}
    {{ method|indent(4) }};
    {% endfor %}

    return out;
}
{%- endif %}