export function {{function_name}}(
    {%- if typescript %}{%- for param in out_params -%}
    {{param.label}}{% if typescript %}: {{param.type_name}}{% endif %}{% if !loop.last %}, {% endif %}
    {%- endfor -%}{% endif -%}
){% if typescript %};{% else %} {
    var terminusArgs = arguments;
    return {{node_call_stack|indent(4)}};
}
{%- endif %}