#ifndef {{ header_guard }}
#define {{ header_guard }}
{{ self::BASE_INCLUDES -}}
{%- for include in includes %}
#include "{{ include }}"
{%- endfor %}
{%~ match decl_include %}
    {% when Some with (include) ~%}
        #include "{{ include }}"
    {%~ when None %}
{%- endmatch %} {#- TODO: At some point this whole block should be included in c_include.h.jinja somehow. Maybe as a macro? #}

{%- for typedef in arr_typedefs -%}
{{typedef}}
{% endfor %}


{{ body }}

#endif // {{ header_guard }}