{% if !is_for_cpp -%} typedef {% endif -%}
enum {{ ty_name }} {
  {%- for enum_variant in ty.variants %}
  {{fmt.fmt_enum_variant(ty_name, enum_variant)}} = {{ enum_variant.discriminant }},
  {%- endfor %}
} {%- if !is_for_cpp %} {{ ty_name }} {%- endif %};


