{% if is_for_cpp -%}
extern "C" {
{%- endif %}
{%- for cb_and_struct_def in cb_structs_and_defs %}
{%- if let Some(st) = cb_and_struct_def.return_struct %}
{{st}}
{% endif %}
typedef struct {{ cb_and_struct_def.name }} {
    const void* data;
    {{ cb_and_struct_def.return_type }} (*run_callback)(const void*{% if cb_and_struct_def.params_types != "" %}, {{ cb_and_struct_def.params_types }} {% endif %});
    void (*destructor)(const void*);
} {{ cb_and_struct_def.name }};
{%- endfor %}
{%- for method in methods %}

{{ method.return_ty }} {{ method.abi_name }}({{ method.params }});
{%- endfor %}
{%~ match dtor_name %}
{% when Some with (dtor_name) ~%}
void {{ dtor_name }}({{ ty_name.as_ref().unwrap() }}* self);
{%~ when None %}
{%- endmatch %}
{% if is_for_cpp -%}
} // extern "C"
{%- endif %}
