{% if !fields.is_empty() %}{% if !is_for_cpp -%} typedef {% endif -%}
struct {{ty_name}} {
{%- for field in fields %}
  {{field.0}} {{field.1}};
{%- endfor %}
} {%- if !is_for_cpp %} {{ ty_name }} {%- endif %};{% endif %}

typedef struct {{ ty_name }}_option {union { {{ty_name}} ok; }; bool is_ok; } {{ ty_name }}_option;
