{% if !fields.is_empty() %}{% if !is_for_cpp -%} typedef {% endif -%}
struct {{ty_name}} {
{%- for field in fields %}
  {{field.0}} {{field.1}};
{%- endfor %}
} {%- if !is_for_cpp %} {{ ty_name }} {%- endif %};{% endif %}

{% if fields.len() != 0 -%}
typedef struct {{ ty_name }}_option {union { {{ty_name}} ok; }; bool is_ok; } {{ ty_name }}_option;
{%- endif -%}

{%- if is_sliceable %}
typedef struct Diplomat{{ty_name}}View {
  const {{ty_name}}* data;
  size_t len;
} Diplomat{{ty_name}}View;

typedef struct Diplomat{{ty_name}}ViewMut {
  {{ty_name}}* data;
  size_t len;
} Diplomat{{ty_name}}ViewMut;
{% endif %}