{%- for terminus in termini -%}
import * as {{terminus.type_name}}Demo from "./{{terminus.js_file_name}}";
export * as {{terminus.type_name}}Demo from "./{{terminus.js_file_name}}";
{% endfor %}

export const RenderInfo = {
	termini: [
		{%- for terminus in termini %}
		{
			func: {{terminus.type_name}}Demo.{{terminus.function_name}},
			parameters: [
				{% for param in terminus.params %}
				{
					name: "{{param.js}}",
					type: "{{param.type_name}}"
				}{% if !loop.last %},{% endif %}
				{% endfor %}
			]
		}{% if !loop.last %},{% endif %}
		{% endfor -%}
	],
};