export function {{function_name}}(
	{%- for param in params -%}
	{{param.js}}{% if typescript %}: {{param.type_name}}{% endif %}{% if !loop.last %}, {% endif %}
	{%- endfor -%}
){% if typescript %};{% else %} {
	return {{node_call_stack}};
}
{%- endif %}