export function {{function_name}}(
	{%- for param in params -%}
	{{param.name}}{% if typescript %}: {{param.type_name}}{% endif %}{% if !loop.last %}, {% endif %}
	{%- endfor -%}
){% if typescript %};{% else %} {
	{% for setup in setup_stack %}
	{{setup}}
	{% endfor %}
}
{%- endif %}