{% if is_for_cpp -%}
extern "C" {
{%- endif %}
{% for method in methods %}
{% if !method.maybe_result_typedef.is_empty() -%} {{ method.maybe_result_typedef }} {%- endif -%}
{% if method.name == method.abi_name -%}
{{ method.return_ty }} {{ method.name }}({{ method.params }});
{% else -%}
{{ method.return_ty }} {{ method.name }}({{ method.params }}) {
    {{ method.return_ty }} {{method.abi_name}}({{ method.params }});
    return {{ method.abi_name }}({{ method.params_inv }});
}
{% endif -%}
{% endfor %}
{%~ match dtor_name %}
{% when Some with ((dtor_name_abi, dtor_name)) ~%}
{% if dtor_name == dtor_name_abi -%}
void {{ dtor_name }}({{ ty_name }}* self);
{% else -%}
void {{ dtor_name }}({{ ty_name }}* self) {
    void {{ dtor_name_abi }}({{ ty_name }}* self);
    {{ dtor_name_abi }}(self);
}
{% endif -%}
{%~ when None %}
{%- endmatch %}
{% if is_for_cpp -%}
} // extern "C"
{%- endif %}
