## Supports

- [{{attr_support.namespacing|checked}}] Namespaces

- [{{attr_support.memory_sharing|checked}}] Memory Sharing

- [{{attr_support.non_exhaustive_structs|checked}}] Non Exhaustive Structs

- [{{attr_support.method_overloading|checked}}] Method Overloading

- [{{attr_support.utf8_strings|checked}}] UTF8 Strings

- [{{attr_support.utf16_strings|checked}}] UTF16 Strings

- [{{attr_support.static_slices|checked}}] Static Slices

- [{{attr_support.defaults|checked}}] Defaults

- [{{attr_support.constructors|checked}}] Constructors

- [{{attr_support.named_constructors|checked}}] Named Constructors

- [{{attr_support.fallible_constructors|checked}}] Fallible Constructors

- [{{attr_support.accessors|checked}}] Getters/Setters

- [{{attr_support.static_accessors|checked}}] Static Getters/Setters

- [{{attr_support.stringifiers|checked}}] Stringifiers

- [{{attr_support.comparators|checked}}] Comparators

- [{{attr_support.iterators|checked}}] Iterators

- [{{attr_support.iterables|checked}}] Iterables

- [{{attr_support.indexing|checked}}] Indexers

- [{{attr_support.arithmetic|checked}}] Arithmetic

- [{{attr_support.option|checked}}] Options

- [{{attr_support.callbacks|checked}}] Callbacks

- [{{attr_support.traits|checked}}] Traits

- [{{attr_support.custom_errors|checked}}] Custom Errors

- [{{attr_support.traits_are_send|checked}}] Traits are Send

- [{{attr_support.traits_are_sync|checked}}] Traits are Sync

- [{{attr_support.generate_mocking_interface|checked}}] Generate Mocking Interface

- [{{attr_support.abi_compatibles|checked}}] ABI Compatible Structs

- [{{attr_support.struct_refs|checked}}] Struct Refs

- [{{attr_support.free_functions|checked}}] Free Functions

- [{{attr_support.custom_bindings|checked}}] Custom Bindings

- [{{attr_support.owned_slices|checked}}] Owned Slices

- [{{attr_support.default_args|checked}}] Default Arguments