public{% if is_static %} static {% else %} {% endif %}{{return_ty}}
{%- match method_name -%}
{%- when Some with (method_name) %} {{method_name}}
{%- when None -%}
{%- endmatch -%}
(
{%- for param in params -%}
{{param.ty}} {{param.name}}{% if loop.last%}{% else %},{% endif -%}
{%- endfor -%}
) {
    {# need to match on the type of allocations? #}
    {% if allocations -%}
    try (var arena = Arena.ofConfined()) {
        {% for conv in param_conversions -%}
        {{conv.conversion_def|indent(8)}}
        {% endfor -%}
        {% if make_invoker -%}
        var nativeInvoker = {{native_method}}.makeInvoker();
        {% endif -%}
        {% if native_return_void %}{% else %}var nativeVal = {% endif %}{{native_invocation}}(
            {%- for conv in param_conversions -%}
            {{conv.converted_value}}{% if loop.last %}{% else %}, {% endif -%}
            {% endfor -%}
        );
        {{return_conversion|indent(8)}}
    }
    {%- else -%}
    {% for conv in param_conversions -%}
    {{conv.conversion_def|indent(4)}}
    {% endfor -%}
    {% if make_invoker -%}
    var nativeInvoker = {{native_method}}.makeInvoker();
    {% endif -%}
    {% if native_return_void %}{% else %}var nativeVal = {% endif %}{{native_invocation}}(
        {%- for conv in param_conversions -%}
        {{conv.converted_value}}{% if loop.last %}{% else %}, {% endif -%}
        {% endfor -%}
    );
    {{return_conversion|indent(4)}}
    {%- endif %}
}
