package {{domain}}.{{lib_name}};

import {{domain}}.{{lib_name}}.ntv.{{lib_name}}_h;

import java.lang.foreign.Arena;
import java.lang.foreign.MemorySegment;
import java.lang.ref.Cleaner;
import java.lang.foreign.SegmentAllocator;
import static java.lang.foreign.ValueLayout.*;
import java.nio.charset.StandardCharsets;

public class {{type_name}} {
    {% for field in fields -%}
    {{field.ty}} {{field.name}};
    {% endfor %}

    MemorySegment internal;
    SegmentAllocator arena;

    private {{type_name}}(SegmentAllocator arena) {
    }

    void initFromSegment(MemorySegment segment) {
        this.internal = segment;

        {% for field in fields -%}
        this.{{field.name}} = {% match field.field_transform -%}
        {% when Some with (transform) -%}
        {{transform}}({{domain}}.{{lib_name}}.ntv.{{type_name}}.{{field.name}}(segment));
        {% when None -%}
        {{domain}}.{{lib_name}}.ntv.{{type_name}}.{{field.name}}(segment);
        {% endmatch -%}
        {% endfor %}
    }
    {% for method in methods %}
    {{method|indent(4)}}
    {% endfor %}
}


