{% for lifetime in lifetimes %}
List<Object> {{lifetime.name}}Edges = List.of(
{%- for edge in lifetime.edges -%}
{% if loop.first %}{% else %}, {% endif %}{{edge}}
{%- endfor -%}
);
{%- endfor %}

var {{name}}Val = new {{ty}}(returnArena, {{native_val}}
{%- for lifetime in lifetimes -%}
, {{lifetime.name}}Edges
{%- endfor -%}
);
