package {{domain}}.{{lib_name}};

import {{domain}}.{{lib_name}}.ntv.*;

import java.lang.foreign.Arena;
import java.lang.foreign.MemorySegment;
import java.lang.ref.Cleaner;
import java.lang.foreign.SegmentAllocator;
import java.util.List;
import static java.lang.foreign.ValueLayout.*;
import java.nio.charset.StandardCharsets;
import java.util.stream.Stream;

public class {{type_name}} {
    {% for field in fields -%}
    {{field.ty}} {{field.name}};
    {% endfor %}

    List<Object> selfEdges = List.of();
    {% for edge in edges -%}
    List<Object> {{edge}}Edges = List.of();
    {% endfor %}

    private {{type_name}}() {
    }

    {{type_name}}(MemorySegment structSegment
    {%- for edge in edges -%}
    , List<Object> {{edge}}Edges
    {%- endfor -%}
    ) {
        this.selfEdges = selfEdges;
        {% for edge in edges -%}
        this.{{edge}}Edges = {{edge}}Edges;
        {% endfor %}

        {% for field in fields -%}
        var {{field.name}}Native = {{domain}}.{{lib_name}}.ntv.{{type_name}}.{{field.native_name}}(structSegment);
        {{field.to_java.conversion|indent(8)}}
        this.{{field.name}} = {{field.to_java.converted_value}};
        {% endfor %}

    }

    {% if is_zst -%}
    {% else -%}
    MemorySegment toNative(SegmentAllocator arena) {
        var returnVal = {{domain}}.{{lib_name}}.ntv.{{type_name}}.allocate(arena);
        
        {% for field in fields -%}
        {{field.to_native.conversion|indent(8)}}
        {{domain}}.{{lib_name}}.ntv.{{type_name}}.{{field.native_name}}(returnVal, {{field.to_native.converted_value}});
        {% endfor %}

        return returnVal;

    }
    {% endif -%}

    {% for method in methods %}
    {{method|indent(4)}}
    {% endfor %}
}


