package-lock.json
node_modules
tsconfig.tsbuildinfo

# Hide API since it's the same thing that JS2 example/js2 generates.
# Per README.md, we copy this over to structure this demo how a user might run diplomat-tool on their project.
api