{% include "../c_include.h.jinja" %}

{% if let Some(ns) = namespace -%}
namespace {{ns}} {
{% endif %}

{% for m in methods %}
    {{m}}
{% endfor %}

{% if namespace.is_some() -%}
} // namespace
{%-endif%}